:root {
  --number-of-visible-rows: 20;
  --number-of-columns: 10;
  --field-height: 80vh;
  --block-size: calc(var(--field-height)/var(--number-of-visible-rows));
  --field-width: calc(var(--block-size) * var(--number-of-columns));
}
body {
  background-color: black;
}

.field {
  width: var(--field-width);
  height: var(--field-height);
  margin: auto;
  
  border: solid 5px;
  border-color: yellow;
  color: white;

  /* display: grid;
  grid-template-columns: repeat(10, var(--block-size));
  grid-template-rows: repeat(40, var(--block-size));
  column-gap: 0;
  row-gap: 0; */
}

.field > div {
  display: flex;
  flex-direction: row;
}

.field-block {
  outline: 1px solid white;
  width: var(--block-size);
  height: var(--block-size);
  margin: 0;
  padding: 0;
}

.empty {
  background-color: none;
}

.piecei {
  background-color: #a31f15;
}

.piecej {
  background-color: #4a74f0;
}

.piecel {
  background-color: #4af78d;
}

.pieceo {
  background-color: #f7f440;
}

.pieces {
  background-color: #78209e;
}