:root {
  --field-height: 80vh;
  --field-width: calc(var(--field-height)/2);
  --block-size: calc(var(--field-height)/20);
}
body {
  background-color: black;
}

.field {
  width: var(--field-width);
  height: var(--field-height);
  margin: auto;
  
  border: solid 5px;
  border-color: yellow;
  color: white;

  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(40, 50px);
  column-gap: 0;
  row-gap: 0;
}

.field-block {
  outline: 1px solid white;
  width: var(--block-size);
  height: var(--block-size);
  margin: 0;
  padding: 0;
}